
Back-End/.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
Back-End/.idea/Back-End.iml
Back-End/.idea/workspace.xml
.idea/CS_532_Course_Registration.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
Back-End/.idea/Back-End.iml
Back-End/.idea/inspectionProfiles/profiles_settings.xml
Back-End/.idea/misc.xml
Back-End/.idea/vcs.xml
Back-End/.idea/workspace.xml
*.xml
*.iml
../../.DS_Store
.DS_Store
*.py
Back-End/migrations/script.py.mako
Back-End/migrations/README
Back-End/migrations/alembic.ini
Back-End/instance/registration.db
Back-End/echo
Back-End/instance/registration.db
Back-End/echo
Back-End/instance/registration.db
Back-End/echo
