# Ignore Python bytecode files and cache folders
**/__pycache__/
*.py[cod]

# Ignore the virtual environment folder
env/
instance/
migrations/

# Ignore the session id folder
flask_session/

# Ignore .DS_Store
.DS_Store
../.DS_Store

# Ignore instance/ This is where the local database is stored
instance/